* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #eaeaea;
}

.landingPage {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.landingAnimation {
  border: 1px solid #e35ea0;
  width: 900px;
  height: 506px;
  margin-bottom: 50px;
}

.exploreBtn {
  text-decoration: none;
  height: 30px;
  width: 50px;
  color: #e35ea0;
  border: 1px solid #e35ea0;
  padding: 10px;
  border-radius: 10px;
  letter-spacing: -1px;
  font-weight: 900;
  transition: 0.3s ease;
}

.exploreBtn:hover {
  background-color: #e35ea0;
  color: #063866;
}

.backBtn {
  font-size: 18px;
  color: rgb(227, 94, 160);
  font-weight: 900;
  letter-spacing: -1.5px;
  text-decoration: none;
  position: relative;
  top: 15px;
  left: 15px;
  transition: 0.3s ease;
}

.backBtn:hover {
  color: #151515;
}

.header {
  z-index: 1;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 30vh;
  background-color: #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#swLogo {
  width: 380px;
  margin: 20px;
}

.homePage {
  margin-top: 30vh;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  grid-column-gap: 5px;
  grid-row-gap: 25px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 400px;
}

.jobsToDisplay {
  width: 320px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.jobsToDisplay h1 {
  color: white;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 253px;
  background-color: rgba(0, 0, 0, 0.7);
  letter-spacing: -2px;
}

.jobsToDisplay p {
  color: white;
}

.jobsToDisplay img {
  width: 450px;
}

.navLinks {
  display: flex;
  flex-direction: column;
}

.navLinkButton {
  color: #151515;
  text-decoration: none;
  transition: 0.1s ease;
}

.navLinkButton:hover {
  color: #e35ea0;
}

.navLinks {
  margin-left: 20px;
  font-size: 30px;
  color: rgb(227, 94, 160);
  letter-spacing: -2px;
  font-weight: 900;
}

.navLinks img {
  width: 30px;
  margin-right: 10px;
}

.socialLogos img {
  margin-top: 5px;
  filter: brightness(1);
  transition: 0.2s ease;
}

.socialLogos img:hover {
  filter: brightness(0);
}

.about {
  width: 100vh;
  height: 100vh;
  color: #151515;
  font-size: 24px;
}

.about b {
  color: #e35ea0;
}

.about p {
  text-align: center;
  font-weight: lighter;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  letter-spacing: -2px;
}

.jobAboutContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px;
}

.jobAboutContainer video {
  width: 650px;
  height: 366px;
}

.jobAboutContainer img {
  width: 650px;
  height: 366px;
}

.jobAbout {
  width: 500px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  color: #151515;
}

.jobAbout h1 {
  letter-spacing: -2px;
  font-size: 40px;
  color: #e35ea0;
}

.jobAbout h2 {
  letter-spacing: -2px;
  font-weight: 100;
  font-size: 30px;
}

.jobAbout p {
  font-weight: 100;
}

.jobAbout b {
  font-size: 30px;
  color: #e35ea0;
}

.jobAboutContainer audio {
  margin-right: 150px;
}

.letsJam {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.letsJam img {
  width: 30px;
}

.letsJam p {
  width: 700px;
  font-weight: 100;
  letter-spacing: -1px;
  text-align: center;
}

#email {
  margin-top: 100px;
  color: #151515;
  font-weight: 100;
}

@media (max-width: 550px) {
  .homePage {
    grid-template-columns: 1fr;
  }
  .homePage img {
    scale: 75%;
  }

  .about p {
    width: 400px;
  }
}
