* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

body {
  background-color: rgb(6, 56, 102);
}

body::-webkit-scrollbar {
  display: none;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 25%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header img {
  width: 300px;
  margin: 20px;
}

.homePage {
  width: 75%;
  height: 100%;
  background-color: rgb(6, 56, 102);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  padding: 5px;
}

.jobsToDisplay {
  width: auto;
  height: 350px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 15px;
}

.jobsToDisplay h1 {
  color: rgb(227, 94, 160);
}

.jobsToDisplay p {
  color: white;
}
